<div class="wrapper">
  <div class="inner">
    <div class="columns">
      <ng-container *ngFor="let el of setArray(numberOfColumns,1); let i = index">
        <div class="column" [attr.data-column-index]="i" [ngStyle]="{'width':(widths[i]).toString()+'%', 'left': lefts[i].toString()+'%', 'background-color':randomColors[i]}">{{i}}
          <div class="dragHandle" *ngIf="i<setShortenedArrayByLastElement(numberOfColumns,1).length || numberOfColumns ===1" cdkDrag cdkDragBoundary=".column" (cdkDragEnded)="dragHandleEnded($event, i)" [cdkDragFreeDragPosition]="resetPosition"></div>
        </div>

      </ng-container>
    </div>

  </div>
</div>

